<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Aluno 1</title>
</head>

<body style="background-color: black; color: gray; text-align: center;">

    <h1>João Cordeiro</h1>

    <p>estou aprendendo javascript e expres</p>
    <p>Sou um aluno da turma de 3 Desenvolvimento De Sistemas</p>

    <br>

    <a href="/aluno1" style="color: #3498db;">Aluno 1</a> |
    <a href="/aluno2" style="color: #3498db;">Aluno 2</a> |
    <a href="/home" style="color: #3498db;">Home</a>

</body>

</html>