<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Aluno 2</title>
</head>

<body style="background-color: black; color: gray; text-align: center;">

    <h1>Kaio Machado</h1>

    <p>Sou um Aluno Da turma 3 Desenvolvimento De Sistemas </p>
    <p>estou aprendendo javascript e express</p>

    <br>

    <a href="/aluno1" style="color: #3498db;">Aluno 1</a> |
    <a href="/aluno2" style="color: #3498db;">Aluno 2</a> |
    <a href="/home" style="color: #3498db;">Home</a>

</body>

</html>