<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        * {
            background-color: black;
            color: gray;
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>Trabalho de Express</h1>

    <h2>Dupla:</h2>

    <p>João Cordeiro</p>
    <p>Kaio Machado</p>

    <br>

    <a href="/aluno1" style="color: #3498db;">Aluno 1</a> |
    <a href="/aluno2" style="color: #3498db;">Aluno 2</a> |
    <a href="/home" style="color: #3498db;">Home</a>

</body>

</html>